.character {
  width: 30%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 2rem 0;
  background-color: #FED20E;

  &__hobbies {
    list-style-type: none;
    padding: 0;
  }
}