<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Adresse e-mail : </label>
          <input type="text" id="email" class="form-control" formControlName="email" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe : </label>
          <input type="password" id="password" class="form-control" formControlName="password" />
        </div>
        <button class="btn btn-success" (click)="onLogin()" [disabled]="loginForm.invalid">Se connecter</button>
      </form>
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>